# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# autoconf
*.log
Makefile
Makefile.in
aclocal.m4
compile
config.sub
config.guess
config.h.in
config.status
configure
configure.lineno
depcomp
install-sh
missing
pdftoedn
stamp-h1
config.h
.deps
autom4te.cache
*.trs
tests/docs/*.edn
*.tmp
*.old
.dirstamp
GPATH
GRTAGS
GTAGS
